asgiref==3.3.4
awsebcli==3.20.2
botocore==1.21.36
cement==2.8.2
certifi==2021.5.30
charset-normalizer==2.0.4
colorama==0.4.3
Django==3.2.4
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.6
django-anymail==8.5
django-session-timeout==0.1.0
future==0.16.0
gunicorn==20.1.0
idna==3.2
jmespath==0.10.0
pathspec==0.5.9
Pillow==9.0.1
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-decouple==3.6
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.1
termcolor==1.1.0
urllib3==1.26.6
wcwidth==0.1.9
