{% extends 'base_two.html' %}
{% block content %}
{% load static %}

<!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Change Password</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active" aria-current="page">Change Password</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->



    <!-- ...:::: Start Account Dashboard Section:::... -->
    <div class="account_dashboard">
        <div class="container">
            <div class="row">
                {% include 'includes/dashboard_sidebar.html' %}
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="dashboard_content" data-aos="fade-up"  data-aos-delay="200">
                        <div class="tab-pane" id="account-details">
                            <h3>Change password </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form action="{% url 'change_password' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="default-form-box mb-20">
                                                <label>Current Password</label>
                                                <input type="password" name="current_password" required>
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>New Password</label>
                                                <input type="password" name="new_password" required>
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>Confirm Password</label>
                                                <input type="password" name="confirm_password" required>
                                            </div>

                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Account Dashboard Section:::... -->






{% endblock %}