{% extends 'base_two.html' %}
{% block content %}
{% load static %}

 <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Dashboard</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active" aria-current="page">Dashboard</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->



    <!-- ...:::: Start Account Dashboard Section:::... -->
    <div class="account_dashboard">
        <div class="container">
            <div class="row">
                {% include 'includes/dashboard_sidebar.html' %}
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content" data-aos="fade-up"  data-aos-delay="200">
                        <div class="tab-pane show active" id="dashboard">
                            <h4>Dashboard </h4>
                              <div class="row">
                                <div class="col-md-6">
                                    <div class="card" style="text-align: center">
                                        <div class="card-body">
                                            <h5 class="card-title">Total Orders</h5>
                                            <h4>{{order_count}}</h4>
                                            <a href="{% url 'my_orders' %}">View Orders</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card" style="text-align: center">
                                        <div class="card-body">
                                            <img src="{{profile_picture.profile_picture.url}}" alt="" height="87" width="87" style="border-radius: 50%"/>
                                            <p class="mb-0">{{user.email}}</p>
                                             <p class="mb-0">{{user.phone_number}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Account Dashboard Section:::... -->




{% endblock %}