{% extends 'base.html' %}
{% block content %}
{% load static %}

  <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Reset Password</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active" aria-current="page">Reset Password</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->


    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer_login">
        <div class="container">
            <div class="row justify-content-center">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form" data-aos="fade-up"  data-aos-delay="0">
                        <h3>Reset Password</h3>
                        <form action="{% url 'reset_password_view' %}" method="POST">
                            {% csrf_token %}
                            <div class="default-form-box mb-20">
                                <label>Password <span>*</span></label>
                                <input type="password" name="password" placeholder="Password" >
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Confirm Password <span>*</span></label>
                                <input type="password" name="confirm_password" placeholder="Confirm Password">
                            </div>
                            <div class="login_submit">
                                <button class="mb-20" type="submit">login</button>
                                <p class="text-center mt-4">Don't have an account? <a style="color: red" href="{% url 'register' %}">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->


{% endblock %}