{% extends 'base_two.html' %}
{% load static %}

{% block content %}

 <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                         <h3 class="breadcrumb-title">{{ title }}</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active" aria-current="page">Shipping Policy</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

 <!-- ...::::Start Privacy Policy  Section:::... -->
    <div class="privacy-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="privacy-policy-wrapper">
                        <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>DELIVERY INFORMATION</h4>
                            <p>Dapperautoparts.com now offers shipping and delivery of it’s parts.</p>
                        </div> <!-- Start Privacy Policy Single Item -->


                        <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>PLEASE NOTE:</h4>
                            <p>Orders placed after 4pm, will be processed the following day, adding 1 working day to the delivery service. When selecting 'Next Working Day' - Orders placed after 4pm on a Friday, will be delivered on the next working day which is the following Monday. For orders placed on a non working day (Saturday or Sunday) please add 1 working day to your delivery date.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                         <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4></h4>
                            <p>If your item is Over-Weight (Over 100kg) or you are located in a remote area you may incur an additional charge. If this is the case the cost will be automatically calculated by our system at the checkout phase.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                         <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4></h4>
                            <p>Due to the volume of economy deliveries, please allow a full 7 working days before contacting our customer service centre. All delivery times are approximate and can be delayed due to circumstances outside of our control.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                         <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4></h4>
                            <p>No deliveries will be made on Sundays or Bank/ Public Holidays.
Delivery timescales will vary for items which are not marked as in-stock.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                         <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>FURTHER INFORMATION: Bank/ Public Holidays</h4>
                            <p>No deliveries can be made on Bank/ Public Holidays. Any deliveries scheduled to arrive on a Bank/Public Holiday will be delivered the following working day. In addition, operations are closed on Bank/ Public Holidays, so orders placed on a Bank/ Public Holiday will not be dispatched until the following working day.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...::::End Privacy Policy Section:::... -->



{% endblock %}