.header-to-bar{
    display: flex;
    color: #b5b5b5;
    font-size: 14px;
    flex-direction: column;
    line-height: 50px;
    background-color: #242424;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}